body {
    font-family: Arial, Helvetica, sans-serif   ;
    background-image: linear-gradient(lightgreen,antiquewhite);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-evenly;
    height: 100vh;

    
  }

  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid lightskyblue;
    border-radius: 5px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: 3px solid lightskyblue;
    border-radius: 3px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  input[type="text"] {
    width: 70%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    }